* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
*::selection{
    color: white;
    background-color: black;
}
body{
    background-color: #F7F7F7;
}
.nav{
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.nav .nav-part2{
    color: #525050fa;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.links{
    padding: 10px;
}
.nav-part1{
    /* background-color: red; */
    height: 82px;
    overflow: hidden;
}
.nav-part1 svg{
    display: block;
}
.nav-part2 .links a{
    text-decoration: none;
    color: #525050fa;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 20px;
}
.icons{
    padding: 10px;
    background-color: white;
    border-radius: 50px;
}
.nav-part2 .icons i{
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}
.cursor{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgba(65, 62, 62, 0.288);
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}
.hero{
    min-height: 100vh;
    width: 100%;
    padding: 0 2vw;
    padding-top: 28vh;
    position: relative;
}
.hero h1{
    text-transform: uppercase;
    font-size: 15.5vw;
    font-family: "futura";
    line-height: 14vw;
    letter-spacing: -0.5vw;
}
.video-container{
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 1vw;
    /* background-color: grey; */
}
.video-container video{
    height: 100vh;
    width: 100%;
    /* border-radius: 5px; */
    object-fit: cover;
}
.video-container .play{
    padding: 3vw 2vw;
    background-color: black;
    color: white;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    border-radius: 50%;
    font-family: futura;
    opacity: 0;
    scale: 0;
}
.section2{
    /* background-color: #F7F7F7; */
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3vw 1vw;
}
.section2 .elem{
    height: 100%;
    width: 32%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2 .elem img{
    height: 105vh;
    width: 100%;
    /* border-radius: 5px; */
    object-fit: cover;
    scale: 1.1;
}
.section2 .elem .dets{
    height: 50px;
    width: 70%;
    border-radius: 50px;
    position: absolute;
    z-index: 9;
    background-color: palegoldenrod;
}
.section2 .elem .dets:hover{
    height: 100px;
}
.section3{
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
}
.child{
    height: 54vh;
    width: 38vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child img{
    height: 100%;
    /* background-color: red; */
}


/* Responsive part! */

@media (max-width: 600px) {

    .nav{
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .nav .nav-part2{
        color: #525050fa;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .links{
        padding: 10px;
        display: none;
    }
    .nav-part1{
        /* background-color: red; */
        height: 67px;
        overflow: hidden;
    }
    .nav-part1 svg{
        display: block;
        height: 67px;
        width: 80px;
    }
    .nav #twogoodlogo{
        height: 40px;
        margin-left: -20px;
    }
    .icons{
        padding: 7px;
        background-color: white;
        border-radius: 50px;
    }
    .nav-part2 .icons i{
        font-size: 18px;
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }


    .hero{
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
    }
    .hero h1{
        font-size: 15vw;
        letter-spacing: -0.5vw;
        }
    .video-container video{
        height: 25vh;
        width: 100%;
        margin-top:3vw ;
        /* border-radius: 5px; */
        object-fit: cover;
    }
    .video-container .play{
        padding: 7.5vw 5vw;
        font-size: 5vw;
        top: 15%;
        left: 50%;
        position: absolute;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, 50%);
    }

    .section2{
     /* background-color: red; */
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 5vw 3vw;
    }
    .section2 .elem{
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }
    .section2 .elem .dets{
        height: 40px;
        width: 70%;
        border-radius: 50px;
        position: absolute;
        z-index: 9;
        background-color: palegoldenrod;
    }

    .section3{
        min-height: 120vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* background-color: aliceblue; */
    }
    .child{
        height: 54vh;
        width: 88vw;
        padding: 15vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .child img{
        height: 100%;
    }
}